.main__search__result {
  font-family: "Sarabun";
  font-size: var(--result-search-text-size);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.blur_screen {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00000099;
  z-index: 100;
  top: 0;
  left: 0;
  display: none;
}

main {
  position: relative;
}

main .content {
  padding-top: 7.2rem;
}

main.blur .blur_screen {
  display: block;
}

.main__search__result strong {
  color: #279600;
}

.main__body {
  padding-top: 3.6rem;
  display: flex;
  flex-direction: row;
}

.vertical__filter {
  min-width: 25%;
  max-width: 25%;
}

.filter__title_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.5rem 0rem;
}

.filter__title {
  font-family: Sarabun;
  font-size: var(--secondary-text-size);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #818181;
  margin-left: 1.2rem;
  transform: translateY(-0.2rem);
}

.filter__list {
  display: flex;
  flex-direction: column;
}

.filter__list li {
  margin-right: 2.4rem;
  margin-top: 1.2rem;
  transition: ease-in-out 0.15s;
}

.filter__list li button {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-size: var(--content-filter-item-text-size);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 1.5rem 0rem 1.5rem 2.2rem;
  cursor: pointer;
  text-align: center;
  width: 100%;
  text-align: left;
} /* ===== filter section ======== */

.filter__list li button[aria-selected="true"] {
  position: relative;
  color: #279600;
  border-left: 0.2rem solid #279600;
  background-color: #27960011;
}

.filter__list li button[aria-selected="true"] path {
  fill: #279600;
}

.filter__list li.clicked::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #279600;
  left: 0;
  top: 0;
  border-radius: 5px;
}

.horizontal_filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.8rem;
}

.horizontal_filter:first-child {
  color: #818181;
  font-size: var(--result-search-text-size);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content__filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.content__filter-item {
  font-size: var(--content-filter-item-text-size);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: black;
  cursor: pointer;
  text-align: center;
  transition: ease-in-out 0.15s;
}

.content__filter-item button {
  padding: 1.2rem 2.4rem;
  border-radius: 1.2rem;
  background-color: #f9f9f9;
}

.content__filter-item button.clicked {
  background-color: #e8f3e5;
  color: #279600;
}

.content__filter-item button:hover {
  background-color: #e8f3e5;
  color: #279600;
}

.content__filter-item ul {
  padding: 0;
  border: 0;
  filter: drop-shadow(4px 4px 9px rgba(217, 217, 217, 0.39));
}

.content__filter-item ul li a {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  padding: 1rem 2.4rem;
  line-height: normal;
}

.content__filter-item ul li a:hover {
  background-color: transparent;
  color: #279600;
}

.content__filter-price {
  min-width: 20rem;
}

.main__content {
  width: 75%;
}

.main__content__result {
  min-height: 50rem;
}

/* ==== all filter section ===== */
.all_filter .label {
  display: inline-block;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  align-self: flex-start;
}

.all_filter .label::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.2rem;
  background-color: #279600;
  border-radius: 5px;
  margin-top: 0.7rem;
}

.all_filter.active {
  display: flex;
  flex-direction: column;
}

.all_filter .btn__viewmore {
  position: relative;
  margin-top: 3.4rem;
  align-self: center;
}

/* ===== post section ======== */
.post-container {
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
  margin-top: 2.4rem;
  padding-top: 3.6rem;
  border-top: 1px solid #d9d9d9;
}

#all_filter .post-container {
  margin-top: 0rem;
  padding-top: 3.6rem;
  border-top: 0px solid #d9d9d9;
}

.post {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.post__img {
  width: var(--item-img-size);
  height: var(--item-img-size);
  border-radius: 2.4rem;
}

.post__content {
  display: flex;
  padding-left: 2.522rem;
  flex-direction: column;
  justify-content: space-between;
}

.post__mark {
  color: #818181;
  font-size: var(--title-item-text-size);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.post__title {
  font-size: var(--title-item-text-size);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.post__desc {
  font-size: var(--primary-text-size);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.post__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.post__owner {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
}

.post__owner-name {
  color: #818181;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.post__time {
  color: #818181;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.post__owner img {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 999px;
}

.post__interact {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.4rem;
}

.post__interact div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4rem;
}

/* ====== product section ======= */
.products.active {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.products.active .page-num {
  align-self: center;
}

#all_filter .products {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#all_filter .products button {
  align-self: flex-start;
  transform: translateX(33rem);
}

.products__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2.4rem;
  column-gap: 2rem;
  margin-top: 2.4rem;
  padding-top: 3.6rem;
  border-top: 1px solid #d9d9d9;
}

#all_filter .products__container {
  align-self: flex-start;
  border-top: 0px solid #d9d9d9;
}

.product__card {
  display: flex;
  position: relative;
  flex-direction: column;
  border-radius: 2.4rem;
  cursor: pointer;
}

.product__card img {
  width: 27.2rem;
  height: 24rem;
  border-radius: 2.4rem;
  object-fit: cover;
}

.product__card::before {
  content: "-10%";
  display: flex;
  position: absolute;
  padding: 0.8rem 2.5rem 1.2rem 2.5rem;
  top: 0;
  left: 0;
  justify-content: center;
  align-content: center;
  background-color: #f76f01;
  color: #f9f9f9;
  border-radius: 2.4rem 0px 2.8rem 0px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.product__info {
  padding: 1.2rem 0rem 3.3rem 0rem;
}

.product__title {
  font-size: var(--product-title-text-size);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.price__row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.price__row img {
  width: 3.6rem;
  height: 3.6rem;
  margin-left: auto;
  justify-self: flex-end;
}

.product__price {
  font-size: var(--product-price-text-size);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #279600;
}

.original_price {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #818181;
  margin-left: 1.2rem;
}

/* ==== users section ==== */
.user-list.active {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.all_filter .user-list {
  margin-top: 0rem;
  padding-top: 3.6rem;
  border-top: 0px solid #d9d9d9;
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 0rem 1.2rem 2.4rem;
}

.user__info {
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
}

.user__info img {
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 999px;
}

.user__info__name {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.user__name {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.user__username {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #9c9c9c;
}

.user__follow-btn {
  min-width: 19.4rem;
  border: 1px solid var(--color-primary);
  padding: 1.2rem 0px;
  border-radius: 20px;
  color: var(--color-primary);
  transition: all 0.15s ease-in-out;
}

.user__follow-btn:hover {
  background-color: var(--color-primary);
  color: white;
}

.notfound.active {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 30rem;
}

.notfound ~ .page-num {
  display: none;
}

.notfound p {
  color: #d9d9d9;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.page-num__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 5.6rem;
}

.page-num__item {
  margin-top: 2rem;
  padding: 1.2rem 1.5rem;
  border-radius: 10px;
  cursor: pointer;
}

.page-num__item.clicked {
  background-color: #279600;
  color: white;
}

.page-num__item:not(.clicked):hover {
  background-color: #27960011;
  color: #279600;
}
