header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4.8rem 0rem;
}

.header__intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.header__nav {
  display: flex;
  flex-direction: row;
}

.header__nav-item {
  padding: 0rem 1rem;
}

.header__title {
  color: #279600;
  font-family: "Open Sans", sans-serif;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header__user_avt {
  width: 5.2rem;
  height: 5.2rem;
  border-radius: 999px;
}

.header__tools {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2.8rem;
}

.header__tools i {
  position: relative;
  color: #818181;
  font-size: 2.6rem;
}

.header__tools i:not(:first-child)::after {
  position: absolute;
  content: "39+";
  background-color: #279600;
  border-radius: 1rem;
  padding: 0.2rem 0.4rem;
  color: white;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  top: -0.3rem;
  right: -1.5rem;
  font-family: sans-serif;
}
