:root {
  --color-primary: #279600;
  --nav-bar-text-size: 2rem;
  --result-search-text-size: 2rem;
  --title-item-text-size: 1.8rem;
  --product-title-text-size: 2rem;
  --product-price-text-size: 2rem;
  --primary-text-size: 1.6rem;
  --secondary-text-size: 1.8rem;
  --footer-text-size: 1.8rem;
  --footer-item-text-size: 2rem;
  --content-filter-item-text-size: 1.8rem;
  --item-img-size: 20rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Sarabun", sans-serif;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

.critz_text {
  font-family: "Sarabun";
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.content {
  width: 83%;
  margin: 0 auto;
}

hr {
  margin-bottom: 2.4rem;
  margin-top: 2.4rem;
}
