header {
  border-radius: 0px 0px 30px 30px;
  box-shadow: 4px 4px 16px 4px rgba(26, 44, 86, 0.16);
}

header .content {
  display: flex;
  padding: 2.9rem 0rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.header__logo {
  width: 3.3rem;
}

.header__title {
  width: 20rem;
}

.header__nav {
  display: flex;
  flex-direction: row;
}

.header__nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
  padding: 0rem 2rem;
}

.header__nav-item a:hover {
  color: #279600;
}

.header__nav-item a {
  font-family: "Sarabun";
  font-size: var(--nav-bar-text-size);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: ease-in-out 0.15s;
}

.header_search_input {
  padding: 0rem 1.2rem;
  width: 29.4rem;
}

.header_search_input input {
  border: 0px;
  font-size: 1.6rem;
  padding-bottom: 0.3rem;
  width: 100%;
}

.header_search_input input:focus {
  outline: none;
}

.header_search_input .dropdown-menu {
  width: 100%;
  border: none;
  border-radius: 0rem 0rem 1rem 1rem;
  padding: 1rem 1.2rem;
}

.header_search_input .dropdown-menu .dropdown-item {
  display: flex;
  padding: 0.8rem 1.2rem;
  align-items: center;
  border-radius: 12px;
}

.header_search_input .dropdown-menu .dropdown-item .dropdown-item__title {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.header_search_input .dropdown-menu .dropdown-item .dropdown-item__text {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 1.2rem;
}

.header_search_input
  .dropdown-menu
  .dropdown-item
  :not(.dropdown-item__box).right {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header_search_input .dropdown-menu .dropdown-item .right {
  margin-left: auto;
}

.header_search_input .dropdown-menu .dropdown-item .dropdown-item__box {
  padding: 0.5rem;
  border-radius: 999px;
  background-color: #d9d9d9;
}

.header_search_input .dropdown-menu .dropdown-item:hover {
  background: transparent;
}

.header_search_input .dropdown-menu .dropdown-item:not(:first-child):hover {
  background: #e8f3e5;
}

.header_search_input .dropdown-menu .dropdown-item:hover .dropdown-item__text {
  color: var(--color-primary);
}

.header_search_input
  .dropdown-menu
  .dropdown-item:hover
  .dropdown-item__box
  path {
  fill: #279600;
}

.header_search_input #header__search {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #d9d9d9;
  border-radius: 999px;
  padding: 1rem 1.3rem;
  padding-left: 1.5rem;
  width: 29.4rem;
}

.header__title {
  color: #279600;
  font-family: "Open Sans", sans-serif;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header__user_avt {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 999px;
}

.header__tools {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2.8rem;
}

.header__tools picture {
  position: relative;
}

.header__tools picture:not(:last-child):after {
  position: absolute;
  content: "39+";
  background-color: #279600;
  border-radius: 1rem;
  padding: 0.2rem 0.4rem;
  color: white;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  top: -0.3rem;
  right: -1.5rem;
  font-family: sans-serif;
}
