.main__content {
  display: flex;
  flex-direction: row;
}

.vertical__filter {
  min-width: 25%;
  max-width: 25%;
}

.filter__title_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.5rem 0rem;
}

.filter__title_box:first-child {
  background-color: #e8f3e5;
  border-radius: 0 0.5rem 0.5rem 0;
  padding-left: 1.2rem;
  border-left: 2px solid var(--color-primary);
}

.filter__title_box:first-child .filter__title {
  color: var(--color-primary);
}

.filter__title {
  font-family: Sarabun;
  font-size: var(--secondary-text-size);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 1.2rem;
  transform: translateY(-0.2rem);
}

.filter__list {
  display: flex;
  flex-direction: column;
}

.filter__list li {
  margin-right: 2.4rem;
  transition: ease-in-out 0.15s;
}

.filter__list li button {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-size: var(--content-filter-item-text-size);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 1.5rem 0rem 1.5rem 4.4rem;
  cursor: pointer;
  text-align: center;
  width: 100%;
  text-align: left;
}

.filter__list li button:hover {
  color: var(--color-primary);
}

.filter__list li button[aria-selected="true"] {
  color: var(--color-primary);
}

.content__container {
  margin-left: 4.8rem;
  width: 100%;
}

.profile.active {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.profile__header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile__header__title {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.profile__content {
  display: flex;
  flex-direction: row;
  gap: 4.8rem;
  width: 100%;
}

.profile__content .col-1 {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 60%;
}

.profile__content .col-1 .row {
  display: flex;
  flex-direction: row;
}

.row textarea {
  width: 100%;
  resize: none;
  border-radius: 24px;
  border: 1px solid #d9d9d9;
  background: #fff;
  outline: none;
  padding: 1.3rem 2.4rem 1.6rem 2.4rem;
}

.row textarea:focus,
.row input:focus {
  border: 1px solid var(--color-primary);
}

.edit_profile_input {
  display: flex;
  flex-direction: column;
}

.row:first-child .edit_profile_input {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.edit_profile_input label {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #9c9c9c;
  margin-left: 1rem;
}

.edit_profile_input input {
  border-radius: 20px;
  border: 1px solid #d9d9d9;
  padding: 1.3rem 2.4rem 1.6rem 2.4rem;
  outline: none;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.edit_profile_input.right {
  margin-left: auto;
}

.phonenumber-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.2rem;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.phonenumber-row span:first-child {
  color: #9c9c9c;
}

.phonenumber-row span:last-child {
  color: var(--color-primary);
}

.gender_row p {
  color: #9c9c9c;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 2rem;
}

.gender_selection {
  display: flex;
  flex-direction: row;
  gap: 13rem;
  margin-left: 3rem;
}

.gender_option input[type="radio"]:checked {
  background-color: var(--color-primary);
}

.gender_option label {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.col-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  border: 1px solid #d9d9d9;
  padding: 4.8rem 4.8rem;
  border-radius: 24px;
  height: 100%;
  margin-left: auto;
  width: 35%;
}

.profile_btn {
  border-radius: 16px;
  align-self: center;
  padding: 1rem 5rem;
  border: 1px solid var(--color-primary);
}

.profile_btn:hover {
  background-color: var(--color-primary);
  color: #fff;
}

.address__tab_title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.address__tab_title p {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.address__tab_title button {
  margin-left: auto;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: var(--color-primary);
  border: none;
  cursor: pointer;
  padding: 0.8rem 1.2rem;
  border-radius: 1.2rem;
  color: #fff;
}

.address_container {
  margin-top: 4rem;
}

.address__item {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 1.2rem 0rem;
}

.address__item .first_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.2rem;
}

.address__owner_name {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.vertical_line {
  width: 1px;
  height: 2rem;
  background-color: black;
}

.address__owner_phone {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #9c9c9c;
}

.address__item .first_row .address__update {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
}

.address__item .first_row .address__update p {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--color-primary);
  cursor: pointer;
}

.address__item .second_row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.address_info {
  color: #9c9c9c;
  width: 31rem;
  /* body2 */
  font-family: Sarabun;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.second_row button {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0.8rem 1.2rem;
  background-color: transparent;
  border: 1px solid #d9d9d9;
  color: black;
  border-radius: 1.2rem;
  cursor: pointer;
  margin-left: auto;
}

.address__item:first-child .second_row button {
  border: 1px solid #d9d9d9;
  color: #9c9c9c;
}

.address__item .third_row {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #f76f01;
  padding: 0.5rem 1.2rem;
  border: 1px solid #f76f01;
  border-radius: 1.2rem;
  background-color: transparent;
  align-self: flex-start;
}

.reset_pass.active {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.reset_pass .title {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.reset_pass input {
  border-radius: 20px;
  border: 1px solid #d9d9d9;
  padding: 1.5rem 2.4rem 1.6rem 2.4rem;
  outline: none;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.reset_pass button {
  align-self: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 24px;
  background: var(--color-primary);
  color: #fff;
  padding: 1rem 5rem;
}

.reset_pass p:last-of-type {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #9c9c9c;
  margin-left: auto;
  transform: translateY(-3rem);
}

/* popup */
body {
  position: relative;
}

.popup {
  display: none;
  z-index: 999;
  left: 50vh;
  top: 50vh;
  transform: translate(20%, -50%);
  width: 75vh;
  border-radius: 24px;
  background-color: #fff;
  position: absolute;
}

.popup.show {
  display: flex;
  flex-direction: column;
  gap: 4.4rem;
  position: absolute;
  padding: 4.8rem;
}

.popup_title {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.popup .row {
  display: flex;
  flex-direction: row;
  gap: 2.4rem;
}

.popup .row:first-of-type input {
  width: 47%;
  border: none;
  border-bottom: 1px solid #d9d9d9;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  outline: none;
  padding-bottom: 0.8rem;

  color: #9c9c9c;
}

.popup__input_box {
  display: flex;
  width: 47%;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid #d9d9d9;
  font-size: 1.8rem;
}

.popup__input_box input {
  border: none;
  outline: none;
  color: #9c9c9c;
}

.popup__input_box input:focus {
  border: none;
  outline: none;
}

.popup__address_detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid #d9d9d9;
}

.popup__address_detail input {
  width: 100%;
  border: none;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  outline: none;

  color: #9c9c9c;
}

.popup__address_detail input:focus {
  border: none;
  outline: none;
}

.row-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.2rem;
}

.row-btn p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #9c9c9c;
}

.row-btn input {
  transform: scale(1.5) translateY(0.1rem);
}

.row-submit {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.2rem;
  margin-left: auto;
}

.row-submit button {
  padding: 1rem 5rem;
  border-radius: 20px;
}

.row-submit button:first-child {
  background-color: transparent;
  border: 1px solid #d9d9d9;
  color: #9c9c9c;
}

.row-submit button:last-child {
  background-color: var(--color-primary);
  border: none;
  color: #fff;
}

/* reset pass popup */
#change_phone {
  display: none;
  z-index: 999;
  left: 50vh;
  top: 50vh;
  transform: translate(20%, -50%);
  width: 75vh;
  border-radius: 24px;
  background-color: #fff;
  position: absolute;
  padding: 4.8rem;
}

#change_phone.show {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  position: absolute;
}

#change_phone .title {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#change_phone .row {
  display: flex;
  flex-direction: row;
  gap: 2.4rem;
}

#change_phone .row {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

#change_phone .row label {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #9c9c9c;
}

#change_phone .row input {
  border-radius: 20px;
  border: 1px solid #d9d9d9;
  padding: 1.3rem 2.4rem 1.6rem 2.4rem;
  outline: none;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#change_phone .row p {
  color: var(--color-primary);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: auto;
}

/* === delete confirm popup */
.delete_address_popup {
  display: none;
  z-index: 999;
  left: 50vh;
  top: 50vh;
  transform: translate(20%, -50%);
  width: 75vh;
  border-radius: 24px;
  background-color: #fff;
  position: absolute;
  padding: 2.8rem 6.2rem;
}

.delete_address_popup.show {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.8rem;
  position: absolute;
}

.delete_address_popup .row-submit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  margin-left: 0 !important;
}

.delete_address_popup .row-submit button:first-child {
  background-color: transparent;
  border: 1px solid #d9d9d9;
  color: #9c9c9c;
}

.delete_address_popup .row-submit button:last-child {
  background-color: var(--color-primary);
  border: none;
  color: #fff;
}
